
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTimesheetLabel">Create or edit a Timesheet</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.timesheet.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.timesheet.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="vm.timesheet.firstName"
                    required ng-minlength="3" />
            <div ng-show="editForm.firstName.$invalid">
                <p class="help-block"
                    ng-show="editForm.firstName.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.firstName.$error.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="vm.timesheet.lastName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_day">Day</label>
            <input type="text" class="form-control" name="day" id="field_day"
                    ng-model="vm.timesheet.day"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.timesheet.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_timeIn">Time In</label>
                <div class="input-group">
                    <input id="field_timeIn" type="text" class="form-control" name="timeIn" datetime-picker="{{dateformat}}" ng-model="vm.timesheet.timeIn" is-open="vm.datePickerOpenStatus.timeIn"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('timeIn')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_timeOut">Time Out</label>
                <div class="input-group">
                    <input id="field_timeOut" type="text" class="form-control" name="timeOut" datetime-picker="{{dateformat}}" ng-model="vm.timesheet.timeOut" is-open="vm.datePickerOpenStatus.timeOut"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('timeOut')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_workHours">Work Hours</label>
            <input type="text" class="form-control" name="workHours" id="field_workHours"
                    ng-model="vm.timesheet.workHours"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
